*{
    margin: 0;
    padding: 0;
}
body{
  background-color: #c2ebfd;
}
.mySlides{
    width: 100%;
    height: 500px;
    background-size: cover;
 }

.A3{
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    height: 200px;
    margin-top: 5px;
 }

.A2{
  background-image: url('../img/bacgraund.jpg');
  background-size: cover; 
  background-attachment: fixed;	
  width: 100%;
  height: 600px;
  margin-top: 5px;
}

.A1{
  background-color:  #c2ebfd;
  width: 100%;
  height: 4px;
  margin-top: 5px;
}

 .content
 {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-wrap: row wrap;
    justify-content: first baseline;
    margin: 29px;
    padding: 5px;
    width: 300px;
    height: 90px; 
    font-size: 25px; 
    text-align: center;
    color: black; 
    text-decoration: none;
    display: inline-block;
    background: rgba( 0, 0, 0, 0 ); /* գույն ալֆա կանալով աշխատել*/
    box-shadow: 0 8px 32px 0 rgba(10, 10, 10, 0.37); /* ստվերի համար */
    backdrop-filter: blur( 3px );          /*բլուրի չափը 0,1-ից 20 */
    -webkit-backdrop-filter: blur( 3px );  /*փոխել վերևինի հետ միասին */
   position: relative;
 }

 .content:hover{
  box-shadow: 0px 0px 8px 8px rgba(20, 20, 20, 0.3);
 }

 .volunteer,
 .friends,
 .business,
.we,
.programs,
.grants,
.markmedia,
.news,
.gametime {
  border-radius: 50%;
  background-size: cover;
  float: left;
  width: 90px;
  height: 90px;
 }

.volunteer::after,
.friends::after,
.business::after,
.we::after,
.programs::after,
.grants::after,
.non::after,
.news::after,
.gametime::after{
  content: "";
  clear: both;
  display: table;
}
.volunteer {
  background-image: url('../svg/volunteer.svg');
  background-color: Tomato;
}

.friends{
  float: left;
  background-image: url('../svg/friends.svg');
  background-color: Orange;
}

.business{
  background-image: url('../svg/business.svg');
  background-color: DodgerBlue;
}

.we{
  background-image: url('../svg/we.svg');
    background-color: MediumSeaGreen;
}

.programs{
  background-image: url('../svg/programs.svg');
    background-color: SlateBlue;
}

.grants{
  background-image: url('../svg/grants.svg');
    background-color: Green;
}

.markmedia{
  background-image: url('../svg/markmedia.svg');
    background-color: #f44336;
}

.news{
    background-image: url('../svg/news.svg');
      background-color: Violet;
}

.gametime{
  background-image: url('../svg/gametime.svg');
    background-color: Grey;
  /* box-shadow: 0px 0px 20px 7px rgba(255, 0, 0, 0.575); */
}
