*{
    margin: 0;
    padding: 0;
}

@media screen and  (max-width: 810px)  /* APPLE IPAD*/
{
.mySlides{
        height: 250px;
     }

.nav{
      height: 50px;
   }

.logo{
    width: 50px;
    height: 50px;
    margin-left: 5px;
   }

.beta{
    width: 25px;
    height: 50px;
   }

.content{
    margin: 8px;
    width: 240px;
    height: 80px; 
    font-size: 19px; 
}  

.volunteer,
.friends,
.we,
.programs,
.grants,
.markmedia,
.news,
.gametime {
    padding: 2.5px;
   width: 75px;
   height: 75px;
}

.footer{
    height: 50px;
}

.facebook{
    width: 50px;
    height: 50px;
    margin-left: 5px;
   }

.youtube{
    width: 50px;
    height: 50px;
    margin-left: 5px;
   }

}

@media screen and  (max-width: 430px)  /* IPHONE 14 PRO MAX */
{
.mySlides{
        height: 250px;
     }

.nav{
      height: 50px;
   }

.logo{
    width: 50px;
    height: 50px;
    margin-left: 5px;
   }

.beta{
    width: 25px;
    height: 50px;
   }

.content{
    margin: 9px;
    padding: 2px;
    width: 190px;
    height: 60px; 
    font-size: 18px; 
}  

.volunteer,
.friends,
.we,
.programs,
.grants,
.markmedia,
.news,
.gametime {
   width: 58px;
   height: 58px;
}

.footer{
    height: 50px;
}

.facebook{
    width: 50px;
    height: 50px;
    margin-left: 5px;
   }

.youtube{
    width: 50px;
    height: 50px;
    margin-left: 5px;
   }

}

 @media screen and  (max-width: 414px)  /* IPHONE XR */
{
.mySlides{
        height: 250px;
     }

.nav{
      height: 50px;
   }

.logo{
    width: 50px;
    height: 50px;
    margin-left: 5px;
   }

.beta{
    width: 25px;
    height: 50px;
   }

.content{
    margin: 5px;
    padding: 2px;
    width: 190px;
    height: 60px; 
    font-size: 18px; 
}  

.volunteer,
.friends,
.we,
.programs,
.grants,
.markmedia,
.news,
.gametime {
   width: 58px;
   height: 58px;
}

.footer{
    height: 50px;
}

.facebook{
    width: 50px;
    height: 50px;
    margin-left: 5px;
   }

.youtube{
    width: 50px;
    height: 50px;
    margin-left: 5px;
   }

}

@media screen and  (max-width: 395px)  /* Redmi 10 */
{
.mySlides{
        height: 220px;
     }

.nav{
      height: 50px;
   }

.logo{
    width: 50px;
    height: 50px;
    margin-left: 5px;
   }

.beta{
    width: 25px;
    height: 50px;
   }

   .content{
    margin: 5px;
    width: 180px;
    height: 55px; 
    font-size: 16px; 
}  

.volunteer,
.friends,
.we,
.programs,
.grants,
.markmedia,
.news,
.gametime {
 width: 50px;
 height: 50px;
 padding: 2.5px;
}

.footer{
    height: 50px;
}

.facebook{
    width: 50px;
    height: 50px;
    margin-left: 5px;
   }

.youtube{
    width: 50px;
    height: 50px;
    margin-left: 5px;
   }

} 

@media screen and  (max-width: 390px)  /* IPHONE 12 PRO*/
{
.mySlides{
        height: 220px;
     }

.nav{
      height: 50px;
   }

.logo{
    width: 50px;
    height: 50px;
    margin-left: 5px;
   }

.beta{
    width: 25px;
    height: 50px;
   }

   .content{
    margin: 7px;
    width: 170px;
    height: 55px; 
    font-size: 16px; 
}  

.volunteer,
.friends,
.we,
.programs,
.grants,
.markmedia,
.news,
.gametime {
 width: 50px;
 height: 50px;
 padding: 2.5px;
}

.footer{
    height: 50px;
}

.facebook{
    width: 50px;
    height: 50px;
    margin-left: 5px;
   }

.youtube{
    width: 50px;
    height: 50px;
    margin-left: 5px;
   }

} 

@media screen and  (max-width: 384px)   /* Galaxsy S20 */
{
.mySlides{
        height: 200px;
     }

.nav{
      height: 40px;
   }

.logo{
    width: 40px;
    height: 40px;
    margin-left: 5px;
   }

.beta{
    width: 25px;
    height: 40px;
   }

.content{
    margin: 7px;
    width: 170px;
    height: 55px; 
    font-size: 16px; 
}  

.volunteer,
.friends,
.we,
.programs,
.grants,
.markmedia,
.news,
.gametime {
 width: 50px;
 height: 50px;
 padding: 2.5px;
}

.footer{
    height: 40px;
}

.facebook{
    width: 40px;
    height: 40px;
    margin-left: 5px;
   }

.youtube{
    width: 40px;
    height: 40px;
    margin-left: 5px;
   }

}

@media screen and  (max-width: 375px)   /* IPHONE SE */
{
.mySlides{
        height: 200px;
     }

.nav{
      height: 40px;
   }

.logo{
    width: 40px;
    height: 40px;
    margin-left: 5px;
   }

.beta{
    width: 25px;
    height: 40px;
   }

.content{
    margin: 5px;
    padding: 2px;
    width: 170px;
    height: 55px; 
    font-size: 14px; 
}  

.volunteer,
.friends,
.we,
.programs,
.grants,
.markmedia,
.news,
.gametime {
 padding: 2.5px;
 width: 45px;
 height: 45px;
}

.footer{
    height: 40px;
}

.facebook{
    width: 40px;
    height: 40px;
    margin-left: 5px;
   }

.youtube{
    width: 40px;
    height: 40px;
    margin-left: 5px;
   }

}

@media screen and  (max-width: 360px)   /* Galaxsy S8 */
{
.mySlides{
        height: 200px;
     }

.nav{
      height: 40px;
   }

.logo{
    width: 40px;
    height: 40px;
    margin-left: 5px;
   }

.beta{
    width: 25px;
    height: 40px;
   }

.content{
    margin: 5px;
    width: 160px;
    height: 55px; 
    font-size: 12px; 
}  

.volunteer,
.friends,
.we,
.programs,
.grants,
.markmedia,
.news,
.gametime {
padding: 2px;
 width: 50px;
 height: 50px;
}

.footer{
    height: 40px;
}

.facebook{
    width: 40px;
    height: 40px;
    margin-left: 5px;
   }

.youtube{
    width: 40px;
    height: 40px;
    margin-left: 5px;
   }

}